{% extends "layout.html" %}

{% block body %}
    <h1>Weather Forecast</h1>
        <div class="input_container">
            <form method="post" action="{% url 'weather' %}">
                {% csrf_token %}
                <div class="input">
                    <input type="text" autofocus name="city1" placeholder="Type a city">
                    <input type="text" autofocus name="city2" placeholder="Type a city to compare">
                </div>
                <div class="button">
                    <button type="submit">Get the weather</button>
                </div>
            </form>
        </div>

{% endblock %}

