{% extends "layout.html" %}
{% load static %}

{% block body %}
    <h1>Weather Forecast</h1>
        <form method="post">
            {% csrf_token %}
            <div class="city_input_container">
                <div class="city_input">
                    <input type="text" id="city_input1" autofocus placeholder="Type a city..">
                    <ul class="city_list1"></ul>
                </div>
                <div class="city_input">
                    <input type="text" id="city_input2" autofocus placeholder="Type a city to compare">
                    <ul class="city_list1"></ul>
                </div>
                <button type="submit">Get the weather</button>
            </div>
        </form>
    <script src="{% static 'js/city_search.js' %}"></script>

{% endblock %}

