
body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.weather_output_container {
    max-width: 1200px; 
    margin: 20px auto; 
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.city1, .city2 {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.weather_two_cities {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.city1 ul, .city2 ul {
    list-style-type: none;
    padding: 0;
}

.city1 li, .city2 li {
    margin-bottom: 5px;
}


h1, h2 {
    color: #ff8c00;
    text-align: center;
}


img {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
}


.forecast_days {
    margin-top: 20px; 
}

.forecast_day {
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 6px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}


button {
    padding: 10px 20px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #e07b00;
}

.input_container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.input_container h1 {
    color: #ff8c00;
    font-size: 24px;
    margin-bottom: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}